<script type='application/ld+json'> 
{
	"@context": "http://www.schema.org",
	"@type": ["Organization", "LocalBusiness"],
	"@id": "latoilenumerique",
	"image": "https://www.la-toile-numerique.fr/assets/images/creationsite.jpg",
	"name": "La Toile Numérique",
	"legalName" : "La Toile Numérique",
	"alternateName": "Toile Numerique",
	"url": "https://www.la-toile-numerique.fr",
	"mainEntityOfPage": {
		"@type": "WebPage",
		"@id": "https://www.la-toile-numerique.fr/"
	},
	"logo": "https://www.la-toile-numerique.fr/assets/images/LOGO_TN_PNG.png",
	"telephone": "+33658219183",
	"description": "La Toile Numérique est spécialisée dans la conception et refonte de site Web pour les TPE, PME, commerçants, artisans et associations.",
	"priceRange": "$",
	"openingHours": "Mo,Tu,We,Th,Fr 08:30-18:30",
	"paymentAccepted":"IBAN, PayPal",
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "Savenay",
		"addressRegion": "Loire-Atlantique",
		"postalCode":"44260",
		"streetAddress": "rue de la gare"
	},
	"geo": {
		"@type": "GeoCoordinates",
		"latitude": "47.3306",
		"longitude": "-1.6192"
	},
	"contactPoint": [
		{ 
			"@type": "ContactPoint",
			"telephone": "+33658219183",
			"contactType": "Contact",
			"email": "thomas@la-toile-numerique.fr",
			"areaServed": [
				"FR"
			],
			"availableLanguage": [
				"French"
			]
		}
	],
	"sameAs": [
		"https://500px.com/thomasjuton",
		"https://fb.me/latoilenumerique",
		"https://g.page/latoilenumerique?gm",
		"https://www.instagram.com/latoilenumerique"
	],
	"makesOffer":[
		{
			"@type":"Offer",
			"itemOffered":
				{
					"@type":"Service",
					"name":"Création de sites Internet",
					"url":"https://www.la-toile-numerique.fr/creationsite.html"
				}
			},
			{
				"@type":"Offer",
				"itemOffered":
				{
					"@type":"Service",
					"name":"Référencement site Internet",
					"url":"https://www.la-toile-numerique.fr/referencement.html"
				}
			},
			{
				"@type":"Offer",
				"itemOffered":
				{
					"@type":"Service",
					"name":"Création Logo",
					"url":"https://www.la-toile-numerique.fr/identitevisuelle.html"
				}
			},
			{
				"@type":"Offer",
				"itemOffered":
				{
					"@type":"Service",
					"name":"Photographie",
					"url":"https://www.la-toile-numerique.fr/creationcontenu.html"
				}
			},
			{
				"@type":"Offer",
				"itemOffered":
				{
					"@type":"Service",
					"name":"Formation informatique",
					"url":"https://www.la-toile-numerique.fr/formation.html"
				}		
			},
			{
				"@type":"Offer",
				"itemOffered":
				{
					"@type":"Service",
					"name":"Maintenance site internet",
					"url":"https://www.la-toile-numerique.fr/maintenance.html"
				}
			}				
	],
	"location": [
		{
			"@type": "PostalAddress",
			"telephone": "+33658219183",
			"streetAddress": "rue de la gare",
			"addressLocality": "Savenay",
			"addressRegion": "Loire-atlantique",
			"addressCountry": "France",
			"postalCode": "44260",
			"serviceArea":
				[
					{
						"@type": "postalAddress",
						"addressLocality":"Savenay",
						"addressRegion": "Loire-atlantique"
					},
					{
						"@type": "postalAddress",
						"addressLocality":"PontChateau",
						"addressRegion": "Loire-atlantique"
					},
					{
						"@type": "postalAddress",
						"addressLocality":"Blain",
						"addressRegion": "Loire-atlantique"
					},
					{
						"@type": "postalAddress",
						"addressLocality":"Saint-Nazaire",
						"addressRegion": "Loire-atlantique"
					},	
					{
						"@type": "postalAddress",
						"addressLocality":"Saint-Etienne de Montluc",
						"addressRegion": "Loire-atlantique"
					}					
				]
		}
	]
}
</script>